.char-box{
    position: relative;
    width: 200px;
    height: 150px;
    background: rgba(193,13,33,1);
    background: linear-gradient(180deg, rgba(193,13,33,1) 0%, rgba(52,0,150,1) 100%);
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    color: #fff;
    align-items: center;
    overflow: hidden;
}

button {
    font-family: "Fenix", serif;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba( 0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}

.buttonboxpg {
    font-family: "Fenix", serif;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba( 0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}

h1 {
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
}

.new-char-box{
    position: relative;
    width: 200px;
    height: 150px;
    background: rgba(113,113,133,0.4);
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    color: #fff;
    display: grid;
    overflow: hidden;
}

.new-char-box.hover{
    position: relative;
    width: 200px;
    height: 150px;
    background: rgba(193,13,33,1);
    background: linear-gradient(180deg, rgba(193,13,33,1) 0%, rgba(52,0,150,1) 100%);
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
}

.input-box-char input{
    width: 100%;
    height: 100%;
    background: rgba(16,17,30,255);
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 40px;
    font-family: "Fenix", serif;
    font-size: 16px;
    color: #fff;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.input-box-char input::placeholder{
    color: #fff;
}

.intbox{
    position: absolute;
    top: 20%;
}

.grid{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}

.both{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logout {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 50px;
    background: rgba(193,13,33,1);
    background: linear-gradient(180deg, rgba(193,13,33,1) 0%, rgba(52,0,150,1) 100%);
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
    cursor: pointer;
}